<!DOCTYPE html>
<html>
<head>
    <title>Easy Invoice Application (Group 130)</title>
</head>
<body>
    <h1>Easy Invoice Application (Group 130)</h1>

    <h2>Supervisor</h2>
    <p>Dr. Tarek Ali</p>

    <h2>Problem &amp; Idea (Lecture 1 page 4):</h2>
    <ul>
        <li>The urgent need of street vendors for the existence of a system that helps them in simple accounting operations and issuance of invoices in order to keep up with the electronic tax billing.</li>
        <li>Their need to benefit from online sales in a specific geographical area.</li>
        <li>The difficulty of the current accounting programs for this group is because of the many advantages that do not benefit their activity.</li>
        <li>Not keeping up with the multiple payment methods such as Visa, MasterCard, Fawry, and others.</li>
        <li>The danger of moving them with cash amounts between alleys and alleys.</li>
    </ul>

    <h2>Solution depended on MVP (skate) (Lecture 1)</h2>
    <p>A simple application as a point of sale for itinerant sellers that offers the following solutions:</p>
    <ul>
        <li>Easy use app for various mobile devices, whether they are mobile phones, tablets, etc.</li>
        <li>Energy Source: You can use the mobile and a power bank only to use the application.</li>
        <li>Selling Online: add the feature for selling online</li>
        <li>Points of sale: where it makes accounting operations and issues invoices to the customer.</li>
    </ul>

    <h2>Kick of meeting (Lecture 3 page 4)</h2>
    <p>We scheduling a meeting through Microsoft Teams to discuss the problem and find a solution to it, define the stockholders of the project, the roles, and responsibilities of the team members, and set a timeline for the implementation of the project, and the meetings and documented on hard pager.</p>

    <h2>Sketch (Prototype): (Lecture 3 page 22)</h2>

    <h2>Technologies (Lecture 5 start from page 8)</h2>
    <ul>
        <li>Frontend Technologies and Language: HTML, CSS, JavaScript.</li>
        <li>Backend Technologies: Asp.net core</li>
        <li>Backend Language: C#</li>
        <li>C++ Console Application for Skate purpose.</li>
        <li>Microsoft SQL Server</li>
    </ul>

    <h2>Personas (Lecture 3 page 18)</h2>
    <ul>
        <li>Customers</li>
        <li>Sellers</li>
    </ul>

    <h2>Methodologies (Lecture 2 page 17)</h2>
    <p>We use Agile - Kanban methodology</p>

    <h2>Features of Tool I Seller App (MVP) (Lecture 3 page 12)</h2>
    <h3>A) Use Cases:</h3>
    <ul>
        <li>System User: Admin - Customer - Seller.</li>
        <li>Admin:</li>
        <ol>
            <li>As an admin, I want to edit System user types</li>
            <li>As an admin, I want to edit System products</li>
            <li>As an admin, I want to edit Products price.</li>
        </ol>
        <li>Seller:</li>
        <ol>
            <li>As a seller, I want to have an account</li>
            <li>As a seller, I want to Login</li>
            <li>As a seller, I want to add my location</li>
            <li>As a seller, I want to determine my products</li>
            <li>As a seller, I want to update the products price</li>
            <li>As a seller, I want to give invoice to the user</li>
            <li>As a seller, I want to receive the products status after selling</li>
            <li>As a seller, I want to receive a calculation on purchased products &amp; my profit</li>
            <li>As a seller, I want to view the added review on my products.</li>
        </ol>
    </ul>

    <h2>Test Cases (Lecture 6 Page 17)</h2>
    <ol>
        <li>Validate that the seller should have an account to login</li>
        <li>Validate that the client should have an account to login</li>
        <li>Validate that user can add his location</li>
        <li>Validate that system saves the user location</li>
        <li>Validate that System has a list of products</li>
        <li>Validate that seller can update the available product per day</li>
        <li>Validate that seller can update the products price</li>
        <li>Validate that seller receive the products status after selling</li>
        <li>Validate that seller receive a calculation on purchased products</li>
        <li>Validate that seller receive a calculation of his profit</li>
        <li>Validate that seller receive a calculation of his selling per month</li>
        <li>Validate that seller can view the review of his products</li>
        <li>Validate that System display the available products per day in the identified location with their price</li>
        <li>Validate that client account can select from the available products</li>
        <li>Per day &amp; location</li>
        <li>Validate that client order the selected products the identified location</li>
        <li>Validate that client receive an invoice of purchased products</li>
        <li>Validate that client can add review on his order.</li>
        <li>Validate that Admin can edit System user types</li>
        <li>Validate that Admin add System products</li>
        <li>Validate that Admin Update System products</li>
        <li>Validate that Admin determine products price limit</li>
        <li>Validate that Admin can view products reviews</li>
        <li>Validate that Admin can add review on seller's accounts</li>
    </ol>

    <h2>References</h2>
    <ol>
        <li>The official ASP.NET Core documentation: <a href="https://docs.microsoft.com/en-us/aspnet/core/">https://docs.microsoft.com/en-us/aspnet/core/</a></li>
        <li>The official ASP.NET Core GitHub repository: <a href="https://github.com/aspnet/AspNetCore">https://github.com/aspnet/AspNetCore</a></li>
        <li>"Pro ASP.NET Core 3" by Adam Freeman and Andrew Lock: <a href="https://www.apress.com/us/book/9781484255078">https://www.apress.com/us/book/9781484255078</a></li>
        <li>
            "Building Web Applications with ASP.NET Core and MongoDB

            " by Rajeev Sakhuja: <a href="https://www.packtpub.com/application-development/building-web-applications-aspnet-core-and-mongodb">https://www.packtpub.com/application-development/building-web-applications-aspnet-core-and-mongodb</a>
        </li>
        <li>"Learn ASP.NET Core 3.1" by Kudvenkat: <a href="https://www.youtube.com/playlist?list=PL6n9fhu94yhVkdrusLaQsfERmL_Jh4XmU">https://www.youtube.com/playlist?list=PL6n9fhu94yhVkdrusLaQsfERmL_Jh4XmU</a></li>
        <li>ASP.NET Core Community on Stack Overflow: <a href="https://stackoverflow.com/questions/tagged/asp.net-core">https://stackoverflow.com/questions/tagged/asp.net-core</a></li>
    </ol>
</body>
</html>